.space {
    background-image: url("space.jpg");
    background-color: #cccccc;
    background-size: 1300px 800px;
    position: relative;


}

h1 {
    display: inline-block;
    position:fixed;
    font-size:30px;
    color:white;

} 


#theo {
    width:30%;
    position:absolute;
    float:left;


}

#theo:hover {
    width:30%;
    position:absolute;
    float:right;
    animation-name: flying;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: reverse;
    animation-delay: 1s;
    
    

}

@keyframes flying {
  
  0%   {transform: translate(0em,0em) rotate(0deg);}
  
  25%  {transform: translate(-5em, -10em)rotate(50deg);}
 
  50%  {transform: translate(20em, 10em)rotate(120deg);}
  
  75%  {transform: translate(50em, -10em)rotate(180deg);}
 
  100% {transform: translate(-10em, 0em)rotate(300deg);}
   
    
}

